@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>YAZAR AJAX İŞLEMLERİ</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">YAZAR LİSTESİ</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">YAZAR GETİR</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">YAZAR EKLE</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">YAZAR SİL</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">YAZAR GÜNCELLE</button>
<br />
<div id="writerlist">
</div>
<br />
<div id="getwriter">
</div>
<br />
<div>
	<input type="text" id="writerId" placeholder="Yazar ID giriniz." class="form-control" />
</div>
<br />
<div>
	<input type="text" class="form-control" id="txtwriterid" placeholder="Yazar ID" />
	<input type="text" class="form-control" id="txtwritername" placeholder="Yazar Adı" />
</div>
<br />
<div>
	<input type="text" class="form-control" id="txtid" placeholder="Silinecek Yazar ID" />
</div>
<br />
<div>
	<input type="text" class="form-control" id="txtid1" placeholder="Güncelenecek Yazar ID" />
	<input type="text" class="form-control" id="txtwritername1" placeholder="Güncelenecek Yazar Adı" />
</div>


@section scripts {
	<script>
		$("#btngetlist").click(function(){
			$.ajax({
				contentType: "application/json",
				dataType: "json",
				type:"Get",
				url: "/Admin/Writer/WriterList",
				success: function(func){
					let writer = jQuery.parseJSON(func);
					console.log(writer);
					let tablehtml = "<table class=table table-bordered><tr><th>YAZAR ID</th> <th>YAZAR ADI</th></tr>";
					$.each(writer,(index,value)=>{
						tablehtml += `<tr><td>${value.Id}<td>${value.Name}</td></tr>`
					});
					tablehtml += "</table>";
					$("#writerlist").html(tablehtml);
				}
			});
		});

		$("#btngetbyid").click(x=> {
			let id = $("#writerId").val();
			$.ajax({
				contentType:"application/json",
				dataType:"json",
				type:"get",
				url:"/Admin/Writer/GetWriterByID/",
				data:{writerId:id},
				success: function(func){
					let writer = jQuery.parseJSON(func);
					let getwritervalue = `<table class=table table-bordered><tr><th>YAZAR ID</th><th>YAZAR ADI</th></tr><tr><td>${writer.Id}</td><td>${writer.Name}</td></tr></table>`;
					$("#getwriter").html(getwritervalue);
				}
			});
		});

		$("#btnaddwriter").click(function(){
			let writer = {
				Id:$("#txtwriterid").val(),
				Name:$("#txtwritername").val()
			};
			$.ajax({
				type:"post",
				url:"/Admin/Writer/AddWriter/",
				data:writer,
				success: function(func){
					let result = jQuery.parseJSON(func);
					alert("Yazar ekleme işlemi başarılı !");
				}
			});
		});

		$("#btndeletewriter").click(x=>{
			let id = $("#txtid").val();
			$.ajax({
				url:"/Admin/Writer/DeleteWriter/"+id,
				type:"post",
				dataType:"json",
				success:function(func){
					alert("Yazar Silme İşlemi Başarılı Bir Şekilde Gerçekleşti !");
				}
			});
		});

		$("#btnupdatewriter").click(function(){
			let writer = {
				Id:$("txtid1").val(),
				Name:$("txtwritername1").val()
			};

			$.ajax({
				type:"post",
				url:"/Admin/Writer/UpdateWriter/",
				data:writer,
				success: function(func){
					alert("Güncelleme Yapıldı !")
				}
			});
		});


	</script>
}