@model MyBlogProject.Controllers.Class1
@{
	ViewData["Title"] = "EditEmployee";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>API ile Personel Bilgisi Güncelleme Sayfası</h1>
<form method="post">
	<label>ID</label>
	@Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
	<br />
	<label>AD SOYAD</label>
	@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
	<button class="btn btn-outline-success">Güncelle</button>
</form>
